<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <footer class="site-footer">
  <span class="site-footer-owner">
    <a href="https://github.com/ziw8"></a>
  </span>

  <!-- 추가한 부분 -->
  <span class="site-footer-credits">
    Follow me on <a href="https://github.com/ziw8">GitHub</a>.
  </span>
</footer>


  </body>

</html>
